.generate-form-container {
    padding: 125px;
}

.vibe {
    padding: 25px 45px;
}

.notes {
    padding: 45px;
    padding-top: 0px;
}

.section-label {
    margin-bottom: 8px;
    font-weight: 600;
}

.search-bar-section {
    padding: 0px 45px 25px;
}

.exclude-genre {
    padding: 0px 45px;
}

.genre-list {
    display: flex;
    justify-content: center;
}